*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alkatra', cursive;
    font-size: 18px;
}

/* HEADER */
header {
    margin: 20px 10px 50px;
    padding: 15px 10px 45px;
    box-shadow: 0 5px 10px #333;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 45px;
}

header p {
    text-align: center;
}

/* FIELDSETS */
fieldset {
    border: 3px solid orangered;
    border-radius: 20px;
    margin-bottom: 30px;
}

fieldset legend {
    padding: 15px;
    margin-left: 10px;
    color: aliceblue;
    border-radius: 20px;
    font-weight: bold;

}

fieldset legend#orange {
    background-color: orangered;
}

fieldset legend#pink {
    background-color: pink;
}

fieldset legend#purple {
    background-color: purple;
}

fieldset legend#black {
    background-color: black;
}

fieldset legend#green {
    background-color: green;
}

.container {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
}

.container .blocQuestion {
    margin: 20px;
    padding: 20px;
}

.blocQuestion h4 {
    font-size: 22px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.blocQuestion label {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.blocQuestion input[type="radio"] {
    transform: scale(1.8);
}

form button {
    border-radius: 5px;
    outline: none;
    padding: 20px 40px;
    margin: auto;
}

.resultats {
    border-radius: 5px;
    box-shadow: 0 5px 10px #333;
    margin: 10px 0 70px;
    padding: 25px;

}

.resultats .note {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
}

form button {
    display: block;
    margin: auto;
}

.echeck {
    animation: echeck 0.5s ease-in-out;

}

@keyframes echeck {
    0% {
        transform: translateX(0px);
    }

    33% {
        transform: translateX(15px);
    }

    66% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}


@media screen and (max-width: 450px) {
    h1 {
        font-size: 25px;
    }
    .blocQuestion h4{
        font-size: 18px;
    }
    .blocQuestion label{
        font-size: 16px;
    }
}